# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
local_settings.py

# Database
db.sqlite3
*.sqlite3
db.sqlite

# Virtual environment
myenv/
venv/
env/
*.env

# Compiled Python bytecode
__pycache__/

# Logs and databases
*.log


# Secret key
*.secret

# IDE-specific files

.idea/

# macOS
.DS_Store


# Python pycache
__pycache__/
*.pyc

# Editors
*.sublime-project
*.sublime-workspace

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints/