{% load static  %}
{% load i18n %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Müslimagro - Kənd təsərrüfatı məhsullarının topdan və pərakəndə satışı</title>

    <meta name="description" content="Müslimagro - Kənd təsərrüfatı məhsullarının tam orqanik olaraq süfrənizə qədər çatdırılması və sizin razılığınız üçün xidmət göstərir. İstənilən meyvə, tərəvəz və bostan məhsullarının satışı">
    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'assets/logogo.png' %}" type="image/x-icon">
    <!-- Include fontawesome cdn -->
    
    <!-- Include google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&amp;family=Roboto:wght@400;500;700;900&amp;display=swap" rel="stylesheet">
    
    <!-- Include bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

    <!-- Include aos CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/aos.css' %}">

    <!-- Include magnific-popup CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">

    <!-- Include nice-select CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">

    <!-- Include slick-theme CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/slick-theme.css' %}">

    <!-- Include slick CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">

    <!-- Include stylesheet CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

</head>
<style>
    .brand_image {
        max-height: 60px; /* Mobile default */
    }
    
    /* For laptops (screen width between 768px and 1024px) */
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .brand_image {
            max-height: 80px;
        }
    }
    
    /* For desktops (screen width larger than 1024px) */
    @media only screen and (min-width: 1025px) {
        .brand_image {
            max-height: 100px;
        }
    }
</style>
<body>
    <!-- body wrap start -->
    <div class="body-wrap overflow-hidden">
        <!-- back-to-top start -->
        <div class="backtotop">
            <a href="#!" class="scroll">
                <i class="far fa-arrow-up fw-bold"></i>
            </a>
        </div>
        <!-- back-to-top end -->
        

        {% include 'header.html' %}
            <!-- main body start -->
            <main>
            
            
                <section class="breadcrumb_sec_1 position-relative">
                    <div class="breadcrumb_wrap sec_space_mid_small" style="background-image: url({% static 'assets/images/breadcrumb/breadcrumb1.png' %});">
                        <div class="breadcrumb_cont text-center">
                            <div class="breadcrumb_title">
                                <h2 class="text-white">{% trans 'Haqqımızda' %}</h2>
                            </div>
                            <ul class="list-unstyled breadcrumb_item d-flex justify-content-center align-items-center text-white">
                        
                            </ul>
                        </div>
                    </div>
                </section>
                <!-- Breadcrumb section end -->
                
                <section class="product_section_2 sec_space_xms_60" data-aos="fade-up" data-aos-duration="2000">
                    <div class="product_section_2_wrap">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="product_gallery" data-aos="fade-up" data-aos-duration="1000">
                                        <img src="{% static 'assets/images/sales/sale8.png' %}" alt="image_not_found">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="product_section_content" data-aos="fade-up" data-aos-duration="2000">
                                        <div class="product_sec_sub_title d-flex align-items-center pb-2">
                                            <i class="far fa-circle"></i>
                                            <i class="far fa-circle"></i>
                                            <i class="far fa-circle"></i>
                                            <span class="ps-1">{% trans 'Fermamızdan birbaşa təzə məhsullar' %}</span>
                                            <i class="far fa-circle"></i>
                                            <i class="far fa-circle"></i>
                                            <i class="far fa-circle"></i>
                                        </div>
                                        <div class="product_section_title py-2">
                                            <h2>{% trans 'Kənd təsərrüfatı məhsullarının topdan və pərakəndə satışı' %}</h2>
                                        </div>
                                        <div class="product_section_subtitle position-relative">
                                            <p class="pb-0">{% trans 'Yalnız insan sağlamlığına deyil, eyni zamanda ətraf mühitə də qarşı məsul bir şirkət kimi, davamlı kənd təsərrüfatı tətbiqlərini dəstəkləyir və kimyəvi maddə istifadəsini minimuma endiririk.' %}</p>
                                        </div>
                                        <div class="product_section_desc">
                                            <p>{% trans 'Müştərilərimizin razılığı bizim üçün əsaslıdır. Sifarişləriniz sürətli və etibarlı bir şəkildə çatdırılır, təzə və sağlam məhsullarla evinizə qədər gətirilir.' %}
                                            </p>
                                        </div>
                                        <div class="product_section_btn">
                                 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            
 
           
            <!-- product video section end -->
            
            <!-- brand section start -->
            <section class="brand_section mb_50 sec_space_xxs_40" style="background-color: #f9f9f9;" data-aos="fade-up"
            data-aos-duration="2000">
                <div class="container">
                 
                    <div style="display:flex;align-items:center;justify-content:space-around;padding:0px 10%;" class="brand_thumb text-center">
                        {% for partner in partners %}       
                            <img class="brand_image" src="{{ partner.image.url }}" alt="image_not_found">
                        {% endfor %}
                    </div>
                    
                </div>
            </section>
            <!-- brand section end -->
          
            <!-- service section start -->
            <section class="service_setion sec_space_xs_70" data-aos="fade-up" data-aos-duration="2000">
                <div class="service_content_wrap">
                    <div class="container">
                        <div class="row">
                            <div class="col-6 col-md-3">
                                <div class="service_inner_content d-flex justify-content-center align-items-center" data-aos="fade-up" data-aos-duration="500">
                                    <div class="service_content_icon rounded-pill me-2">
                                        <i class="fas fa-shipping-fast"></i>
                                    </div>
                                    <div class="service_content_text">
                                        <div class="service_content_title">
                                            <h6>{% trans 'Ödənişsiz çatdırılma' %}</h6>
                                        </div>
                                        <div class="service_content_sub_title">
                                            <span>{% trans '1 tondan daha yüksək məhsul çatdırılmalarına' %}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="service_inner_content d-flex justify-content-center align-items-center" data-aos="fade-up" data-aos-duration="1000">
                                    <div class="service_content_icon rounded-pill me-2">
                                        <i class="fas fa-user-shield"></i>
                                    </div>
                                    <div class="service_content_text">
                                        <div class="service_content_title">
                                            <h6>{% trans 'Təhlükəsiz ödəmə' %}</h6>
                                        </div>
                                        <div class="service_content_sub_title">
                                            <span>{% trans '100% təhlükəsiz' %} </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="service_inner_content d-flex justify-content-center align-items-center" data-aos="fade-up" data-aos-duration="1500">
                                    <div class="service_content_icon rounded-pill me-2">
                                        <i class="fas fa-exchange-alt"></i>
                                    </div>
                                    <div class="service_content_text">
                                        <div class="service_content_title">
                                            <h6>{% trans 'Məhsullara zəmanət' %}</h6>
                                        </div>
                                        <div class="service_content_sub_title">
                                            <span>{% trans 'Keyfiyyətimizə zəmanət veririk' %}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="service_inner_content d-flex justify-content-center align-items-center" data-aos="fade-up" data-aos-duration="2000">
                                    <div class="service_content_icon rounded-pill me-2">
                                        <i class="fas fa-shipping-fast"></i>
                                    </div>
                                    <div class="service_content_text">
                                        <div class="service_content_title">
                                            <h6>{% trans '24/7 Dəstək' %}</h6>
                                        </div>
                                        <div class="service_content_sub_title">
                                            <span>{% trans 'İstənilən problemə anında dəstək' %}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- service section end -->
            
            <!-- instagram section start -->
            {% if instagram %}
            <section class="instagram_section instagram_style_1 instagram_2 position-relative sec_space_xs_70" data-aos="fade-up" data-aos-duration="2000">
                <div class="container">
                    <h2 class="instagram_title pb-5 text-center">{% trans 'Bizi instagramda izlə' %}</h2>
                    <ul class="zoom-gallery instagram_image_content ul_li slideshow9_slider" data-slick='{"dots": false}'>
                      {% for photo in instagram %}
                        <li>
                            <a class="popup_image" href="{{ photo.href }}">
                                <img src="{{ photo.image.url }}" alt="image_not_found">
                                <i class="fab fa-instagram"></i>
                                <span>@_Instagram</span>
                            </a>
                        </li>
                      {% endfor %}
                    </ul>
                </div>
            </section> 
            {% endif %}
            <!-- instagram section end -->
            
        </main>
        <!-- main body end -->
        
        <!-- footer section start -->
        {% include 'footer.html' %}
        <!-- body wrap end -->

    <!-- Include jquery js -->
   <script src="{% static 'assets/js/jquery.min.js' %}"></script>

   <!-- Include bootstrap-bundle js -->
   <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

   <!-- Include aos js -->
   <script src="{% static 'assets/js/aos.js' %}"></script>
   
   <!-- Include jquery-magnific-popup js -->
   <script src="{% static 'assets/js/magnific-popup.min.js' %}"></script>
   
   <!-- Include nice-select js -->
   <script src="{% static 'assets/js/nice-select.min.js' %}"></script>
   
   <!-- Include jquery-countdown js -->
   <script src="{% static 'assets/js/countdown.min.js' %}"></script>
   
   <!-- Include slick js -->
   <script src="{% static 'assets/js/slick.min.js' %}"></script>
   
   <!-- Include custom js -->
   <script src="{% static 'assets/js/custom.js' %}"></script>
        
    </body>
    
</html>