{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Müslimagro - Əlaqə</title>

    <meta name="description" content="Müslimagro - Kənd təsərrüfatı məhsullarını topdan və pərakəndə almaq üçün əlaqə saxla">
    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'assets/logogo.png' %}" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"></script>
    <!-- Include fontawesome cdn -->
    <link rel="stylesheet" href="../../../../cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css' %}"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Include google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&amp;family=Roboto:wght@400;500;700;900&amp;display=swap"
        rel="stylesheet">

    <!-- Include bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

    <!-- Include aos CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/aos.css' %}">

    <!-- Include magnific-popup CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">

    <!-- Include nice-select CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">

    <!-- Include slick-theme CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/slick-theme.css' %}">

    <!-- Include slick CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">

    <!-- Include stylesheet CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

</head>

<body>
    <!-- body wrap start -->
    <div class="body-wrap overflow-hidden">
        <!-- back-to-top start -->
        <div class="backtotop">
            <a href="#!" class="scroll">
                <i class="far fa-arrow-up fw-bold"></i>
            </a>
        </div>
        <!-- back-to-top end -->


        {% include 'header.html' %}
        <main>
         
            <!-- sidebar section end -->

            <!-- Breadcrumb section start -->
            <section class="breadcrumb_sec_1 position-relative">
                <div class="breadcrumb_wrap sec_space_mid_small"
                    style="background-image: url({% static 'assets/images/breadcrumb/breadcrumb1.png' %});">
                    <div class="breadcrumb_cont text-center">
                        <div class="breadcrumb_title">
                            <h2 class="text-white">{% trans 'Əlaqə' %}</h2>
                        </div>
                        
                    </div>
                </div>
            </section>
            <!-- Breadcrumb section end -->

    
            <!-- contact-info section start -->

            <section class="contact_us_sec sec_space_small" data-aos="fade-up" data-aos-duration="2000">
                <div class="comment_area_wrap" style="background-image: url({% static 'assets/images/backgrounds/bg15.png' %})">
                    <div class="container">
                        <div class="row">
                            <div style="padding-left:5%;padding-right:5%;" class="col-lg-12 sec_space_small position-relative">
                                <div class="trend_sub_title d-flex align-items-center pb-3">
                                    <i class="far fa-circle"></i>
                                    <i class="far fa-circle"></i>
                                    <i class="far fa-circle"></i>
                                    <span class="text-uppercase px-3 text-dark">{% trans 'Əməkdaşlıq, təklif və iradlarınız üçün əlaqə saxlayın' %}</span>
                                </div>
                                <h3 class="comment_area_title mb-5">{% trans 'Əlaqə saxla' %}</h3>
                                <div class="comment_form_area">
                                    <div action="#">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form_item">
                                                    <input id="name" class="rounded-pill" type="text" name="name"
                                                        placeholder="{% trans 'Ad' %}" required>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form_item">
                                                    <input id="surname" class="rounded-pill" type="text" name="name"
                                                        placeholder="{% trans 'Soyad' %}" required>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form_item">
                                                    <input id="email" class="rounded-pill" type="email" name="email"
                                                        placeholder="{% trans 'E-poçt' %}" required>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form_item">
                                                    <input id="phone" class="rounded-pill" type="text" name="name"
                                                        placeholder="{% trans 'Əlaqə nömrəsi' %}" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form_item">
                                            <textarea id="message" name="comment" placeholder="{% trans 'Məktubunuz' %}"></textarea>
                                        </div>
                                        <button id="submit" type="submit"
                                            class="btn custom_btn rounded-pill py-3 text-white text-uppercase">{% trans 'Təsdiqlə və göndər' %} <i class="fas fa-long-arrow-alt-right"></i></button>
                                    </div>
                                </div>
                                <!-- contact-info-right side thumb -->
                                <img class="contact_info_thumb_right position-absolute"
                                    src="{% static 'assets/images/product/product36.png' %}" alt="image_not_found">
                            </div>
                     
                        </div>
                    </div>
                </div>
                <script>
                    const csrfToken = "{{ csrf_token }}";
                    const messageUrl = "{% url 'message' %}";
                
                    $(document).ready(function() {
                        $("#submit").on("click", function(e) {
                            e.preventDefault();
                            const formData = {
 
                                surname: $("#surname").val(),
                                phone: $("#phone").val(),
                                name: $("#name").val(),
                                email: $("#email").val(),
                                message: $("#message").val()
                            };
                            var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                            if (!emailRegex.test($("#email").val())) {
                                console.log($("#email").val(),'---')
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Xəta',
                                    text: "{% trans 'Zəhmət olmasa e-poçt ünvanınının düzgünlüyünü yoxlayın' %}",
                                });
                                return;
                            }else{
                                console.log($("#email").val())
                            }
                        
                            if (Object.values(formData).some(value => value === "")) {
                                // Display SweetAlert for empty fields
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Xəta',
                                    text: "{% trans 'Zəhmət olmasa formun düzgünlüyünü yoxlayın' %}",
                                });
                            } else {
                            
                                fetch(messageUrl, {
                                    method: 'POST',
                                    body: JSON.stringify(formData),
                                    headers: {
                                        'Content-Type': 'application/json',
                                        'X-CSRFToken': csrfToken
                                    }
                                })
                                .then(response => {
                                    if (!response.ok) {
                                        Swal.fire({
                                            icon: 'error',
                                            title: 'Xəta',
                                            text: "{% trans 'Zəhmət olmasa formun düzgünlüyünü yoxlayın' %}",
                                        });
                                        throw new Error('Network response was not ok');
                                    }
                                    Swal.fire({
                                        title: "",
                                        text: "{% trans 'Məktub uğurla göndərildi' %}",
                                        icon: "success"
                                      });
                                    return response.json();
                                })
                                .then(data => {
                            
                                    console.log(data);
                                })
                                .catch(error => {
                                    console.error('There was a problem with the fetch operation:', error);
                                });
                            }
                        });
                    });
                </script>
                <!-- contact-info-left side thumb -->
                <img class="contact_info_thumb_left position-absolute" src="{% static 'assets/images/shapes/shape22.png' %}"
                    alt="image_not_found">

            </section>
            <!-- contact-info section end -->

            <!-- address-section start -->
            <section class="address_sec sec_space_small" data-aos="fade-up" data-aos-duration="2000">
                <div class="address_sec_wrap">
                    <div class="container-sm">
                        <div class="row g-5 justify-content-center align-items-center">
                            <div class="col-md-6 col-lg-4 text-center">
                                <div class="address_sec_cont d-flex flex-column position-relative" data-aos="fade-right" data-aos-duration="2000">
                                    <div class="address_author3 bg-white position-absolute">
                                        <i class="far fa-envelope"></i>
                                    </div>
                                    <div class="trend_sub_title d-flex align-items-center justify-content-center pb-2">
                                        <i class="far fa-circle"></i>
                                        <i class="far fa-circle"></i>
                                        <i class="far fa-circle"></i>
                                        <span class="text-uppercase px-3">{% trans 'Bizə yaz' %}</span>
                                        <i class="far fa-circle"></i>
                                        <i class="far fa-circle"></i>
                                        <i class="far fa-circle"></i>
                                    </div>
                                    <h4 class="address_title">{% trans 'E-poçt' %}</h4>
                                    <p class="address_desc">info@muslumagro.az</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 text-center">
                                <div class="address_sec_cont d-flex flex-column position-relative" data-aos="fade-up" data-aos-duration="2000">
                                    <div class="address_author bg-white position-absolute">
                                        <i class="fas fa-map-marker-alt"></i>
                                    </div>
                                    <div class="trend_sub_title d-flex align-items-center justify-content-center pb-2">
                                        <i class="far fa-circle"></i>
                                        <i class="far fa-circle"></i>
                                        <i class="far fa-circle"></i>
                                        <span class="text-uppercase px-3">{% trans 'Ünvan' %}</span>
                                        <i class="far fa-circle"></i>
                                        <i class="far fa-circle"></i>
                                        <i class="far fa-circle"></i>
                                    </div>
                                    <h4 class="address_title">{% trans 'Ünvan' %}</h4>
                                    <p class="address_desc">Bakı şəhəri, Qaradaq rayonu, Lökbatan qəsəbəsi, Xocasən yolu, 57. 3-cü korpus. Arxa N2 sahəsi.</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 text-center">
                                <div class="address_sec_cont d-flex flex-column position-relative" data-aos="fade-left" data-aos-duration="2000">
                                    <div class="address_author2 bg-white position-absolute">
                                        <i class="fas fa-phone-volume"></i>
                                    </div>
                                  
                                    <div class="trend_sub_title d-flex align-items-center justify-content-center pb-2">
                                        <i class="far fa-circle"></i>
                                        <i class="far fa-circle"></i>
                                        <i class="far fa-circle"></i>
                                        <span class="text-uppercase px-3">{% trans 'Əlaqə' %}</span>
                                        <i class="far fa-circle"></i>
                                        <i class="far fa-circle"></i>
                                        <i class="far fa-circle"></i>
                                    </div>
                                    <h4 class="address_title">{% trans 'Əlaqə nömrəsi' %}</h4>
                                    <p class="address_desc">+994 50 221 93 63</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- address-section end -->

        </main>
        <!-- main body end -->

        <!-- footer section start -->
        {% include 'footer.html' %}
        <!-- footer section end -->

        <!-- view recently products start -->

        <!-- quick-view end -->

    </div>
    <!-- body wrap end -->

    <!-- Include jquery js -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>

    <!-- Include bootstrap-bundle js -->
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Include aos js -->
    <script src="{% static 'assets/js/aos.js' %}"></script>

    <!-- Include gmaps js -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDk2HrmqE4sWSei0XdKGbOMOHN3Mm2Bf-M&amp;ver=2.1.6">
    </script>
    <script src="{% static 'assets/js/gmaps.min.js' %}"></script>

    <!-- Include jquery-magnific-popup js -->
    <script src="{% static 'assets/js/magnific-popup.min.js' %}"></script>

    <!-- Include nice-select js -->
    <script src="{% static 'assets/js/nice-select.min.js' %}"></script>

    <!-- Include jquery-countdown js -->
    <script src="{% static 'assets/js/countdown.min.js' %}"></script>

    <!-- Include slick js -->
    <script src="{% static 'assets/js/slick.min.js' %}"></script>

    <!-- Include custom js -->
    <script src="{% static 'assets/js/custom.js' %}"></script>

</body>

</html>