<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="az">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Müslimagro - Kənd təsərrüfatı məhsullarının topdan və pərakəndə satışı</title>

    <meta name="description" content="Müslimagro - Kənd təsərrüfatı məhsullarının tam orqanik olaraq süfrənizə qədər çatdırılması və sizin razılığınız üçün xidmət göstərir. İstənilən meyvə, tərəvəz və bostan məhsullarının satışı">
    <!-- favicon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="{% static 'assets/logogo.png' %}" type="image/x-icon">

    <!-- Include fontawesome cdn -->
    <link rel="stylesheet" href="../../../../cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css' %}"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Include google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&amp;family=Roboto:wght@400;500;700;900&amp;family=Merriweather:ital,wght@0,400;0,700;0,900;1,700;1,900&amp;display=swap"
        rel="stylesheet">

    <!-- Include bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

    <!-- Include aos CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/aos.css' %}">

    <!-- Include magnific-popup CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">

    <!-- Include nice-select CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">

    <!-- Include slick-theme CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/slick-theme.css' %}">

    <!-- Include slick CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">

    <!-- Include stylesheet CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

</head>

<body>
    <!-- body wrap start -->
    <div class="body-wrap overflow-hidden">
        <!-- back-to-top start -->
        <div class="backtotop">
            <a href="#!" class="scroll">
                <i class="far fa-arrow-up fw-bold"></i>
            </a>
        </div>
        <!-- back-to-top end -->

        <!-- header section start -->
        <header class="header_section position-relative header_2">
            <!-- bottom header start -->
            <div class="header_bottom_main">
                <div class="container">
                    <!-- web menubar start-->
                    <div class="webMenu d-none d-lg-block">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="navbar-brand" href="{% url 'home' %}"><img style="max-height:60px" class="logo_muslum" src="{% static 'assets/logogo.png' %}"
                                    alt="image_not_found"></a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav main_menu_list m-auto">
                                    <li class="nav-item nav_item_has_child px-2">
                                        <a class="nav-link" href="{% url 'home' %}">{% trans 'Əsas səhifə' %}</a>
                                    </li>
                                    <li class="nav-item nav_item_has_child px-2">
                                        <a class="nav-link" href="{% url 'shop' %}">{% trans 'Məhsullar' %}</a>
                                    </li>
                                    <li class="nav-item nav_item_has_child px-2">
                                        <a class="nav-link" href="{% url 'about' %}">{% trans 'Haqqımızda' %}</a>
                                    </li>
                                    <li class="nav-item nav_item_has_child px-2">
                                        <a class="nav-link" href="{% url 'blogs' %}">{% trans 'Bloqlar' %}</a>
                                    </li>
                                    <li class="nav-item nav_item_has_child px-2">
                                        <a class="nav-link" href="{% url 'contact' %}">{% trans 'Əlaqə' %}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="navbar_user me-2">
                                <div class="navbar_user_icon">
                                    <ul class="list-unstyled d-flex mb-0">
                                        {% get_current_language as LANGUAGE_CODE %}
                                                    
                                        {% get_available_languages as LANGUAGES %}
                                        <li class="dropdown" >
                                            <input type="checkbox" id="languageDropdown" class="dropdown-input">
                                            <label   for="languageDropdown" style="text-transform: uppercase;margin-bottom:0px;margin-top:3px;" class="dropbtn">{{LANGUAGE_CODE}} <span style="text-align:center;font-size:12px"> ▼</span></label>
                                            <ul id="myDropdown" class="dropdown-content">
                                                {% for lang_code, lang_name in LANGUAGES %}
                                                    <li style="margin:0px;padding:0px"><a style="display:inline-block;padding:8px 14px;color:gray; {% if lang_code == LANGUAGE_CODE %} color:black {% endif %}" href="{% url 'set_language' lang_code=lang_code url=request.get_full_path %}">{{ lang_name }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        <style>
                                            @media only screen and (min-width: 990px) and (max-width: 1112px) {
                                            .search-icon-li{
                                                display:none !important;
                                            }
                                            }
                                            .dropdown-input {
                                                display: none;
                                            }
                                        
                                            .dropdown-content {
                                                display: none !important;
                                                position: absolute;
                                                background-color: #f9f9f9;
                                                min-width: 15px;
                                                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                                                z-index: 1;
                                                list-style-type: none;
                                                padding: 0;
                                            }
                                        
                                            .dropdown-content li {
                                                padding: 8px 12px;
                                            }
                                        
                                            .dropdown-content li:hover {
                                                background-color: #f1f1f1;
                                            }
                                        
                                            .dropdown:hover .dropdown-content {
                                                display: block !important;
                                            }
                                        
                                            .dropbtn {
                                                cursor: pointer;
                                            }
                                        </style>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <!-- mobile menubar start -->
                    <div class="mobileMenu d-block d-lg-none">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="navbar-brand" href="{% url 'home' %}"><img style="max-height:60px;" src="{% static 'assets/logogo.png' %}"
                                    alt="image_not_found"></a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false"
                                tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
                                <div class="offcanvas-header">
                                    <button type="button" class="btn-close mobile_menu_close text-reset"
                                        data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                </div>
                                <div class="offcanvas-body">
                                    <ul class="navbar-nav main_menu_list m-auto">
                                        <li class="nav-item pe-4 dropdown">
                                            <a class="nav-link active" aria-current="page" href="{% url 'home' %}" id="home_submenu"
                                                role="button" data-bs-toggle="dropdown" aria-expanded="false">{% trans 'Əsas səhifə' %}</a>
                                          
                                        </li>
                                        <li class="nav-item pe-4 dropdown">
                                            <a class="nav-link" href="{% url 'shop' %}" id="shop_submenu" role="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">{% trans 'Məhsullar' %} </a>
                                         
                                        </li>
                                        <li class="nav-item pe-4 dropdown">
                                            <a class="nav-link" href="{% url 'about' %}" id="blog_submenu" role="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">{% trans 'Haqqımızda' %}</a>
                                       
                                        </li>
                                        <li class="nav-item pe-5">
                                            <a class="nav-link" href="{% url 'blogs' %}">{% trans 'Bloqlar' %}</a>
                                        </li>
                                        <li class="nav-item pe-4 dropdown">
                                            <a class="nav-link" href="{% url 'contact' %}" id="page_submenu" role="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">{% trans 'Əlaqə' %}</a>
                                            
                                        </li>
                                  
                                    </ul>
                                </div>
                            </div>
                            <div class="navbar_user me-2">
                                <div class="navbar_user_icon">
                                    <ul class="list-unstyled d-flex mb-0">
                                        {% get_current_language as LANGUAGE_CODE %}
                                                    
                           {% get_available_languages as LANGUAGES %}
                           <li class="dropdown" >
                               <input type="checkbox" id="languageDropdown" class="dropdown-input">
                               <label   for="languageDropdown" style="text-transform: uppercase;margin-bottom:0px;margin-top:3px;" class="dropbtn">{{LANGUAGE_CODE}} <span style="text-align:center;font-size:12px"> ▼</span></label>
                               <ul id="myDropdown" class="dropdown-content">
                                   {% for lang_code, lang_name in LANGUAGES %}
                                       <li style="margin:0px;padding:0px"><a style="display:inline-block;padding:8px 14px;color:gray; {% if lang_code == LANGUAGE_CODE %} color:black {% endif %}" href="{% url 'set_language' lang_code=lang_code url=request.get_full_path %}">{{ lang_name }}</a></li>
                                   {% endfor %}
                               </ul>
                           </li>
                       
                                    </ul>
                                </div>
                            </div>
                        </nav>

                    </div>
                </div>
            </div>

        </header>

        <!-- main body start -->
        <main>
          
            <!-- sidebar section end -->

            <!-- banner section start -->
            <section class="banner_section_main position-relative banner_2">
                <div class="banner_section_item d-flex justify-content-center align-items-center sec_space_large"
                    style="background-image: url({% static 'assets/bannerim.png' %});">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-7 ms-3">
                                <div class="banner_sub_title2 position-relative">
                                    <h6 class="text-white text-uppercase position-absolute">{% trans '100% Organik məhsullar' %}</h6>
                                    <img class="sub_title_bg" src="{% static 'assets/images/shapes/shape2.png' %}"
                                        alt="image_not_found">
                                </div>
                                <div class="banner_title2">
                                    <h1>{% trans 'Organik Meyvə və Tərəvəz' %} <br><font class="text-effect">
                                            <span>S</span><span>a</span><span>ğ</span><span>l</span><span>a</span><span>m</span>
                                        </font>
                                    </h1>
                                </div>
                                <div class="banner_desc py-3">
                                    <p>{% trans ' Organik qidalanmanın önəmi hər keçən gün artır və biz, sağlam həyatı dəstəkləmək üçün ən təzə və doğal məhsulları təqdim edirik.Bizim firmamız, orqanik kənd təsərrüfatı metodu ilə yetişdirilmiş geniş bir meyvə və tərəvəz növlərinin şirin bir sırasına malikdir. Meyvələrdən tropik meyvələrə, tərəvəzlərdən yapraklı yeşilliklərə qədər hər növ məhsulu bizdə tapa bilərsiniz.' %}</p>
                                </div>
                                <div class="banner_btn">
                                    <a href="#!"><button type="button"
                                            class="btn custom_btn rounded-pill px-5 py-3 text-white">{% trans 'Kəşf et' %} <i
                                                class="fas fa-long-arrow-alt-right"></i></button></a>
                                </div>
                            </div>
                            <div class="col-lg-5"></div>
                        </div>
                    </div>
                </div>
                <!-- header side thumb -->
                <img class="banner2_right_thumb position-absolute" src="{% static 'assets/images/shapes/shape5.png' %}"
                    alt="image_not_found">
            </section>
            <!-- banner section end -->

            <!-- service section start -->
            <section class="service_setion2" data-aos="fade-up" data-aos-duration="2000">
                <div class="service_content_wrap2">
                    <div class="container">
                        <div class="row services2_content d-flex justify-content-between">
                            <div class="col-6 col-sm-4 col-lg-3">
                                <div class="service_inner_content d-flex justify-content-center align-items-center"
                                    data-aos="fade-up" data-aos-duration="500">
                                    <div class="service_content_icon rounded-pill me-3">
                                        <img src="{% static 'assets/images/icons/green-leaf.jpeg' %}" alt="image_not_found">
                                    </div>
                                    <h6 class="service_content_title">{% trans 'Orqanik məhsullar' %}</h6>
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-lg-3">
                                <div class="service_inner_content d-flex justify-content-center align-items-center"
                                    data-aos="fade-up" data-aos-duration="1000">
                                    <div class="service_content_icon rounded-pill me-3">
                                        <img src="{% static 'assets/images/icons/delivery1.avif' %}" alt="image_not_found">
                                    </div>
                                    <h6 class="service_content_title">{% trans 'Pulsuz çatdırılma' %}</h6>
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-lg-3">
                                <div class="service_inner_content d-flex justify-content-center align-items-center"
                                    data-aos="fade-up" data-aos-duration="1500">
                                    <div class="service_content_icon rounded-pill me-3">
                                        <img src="{% static 'assets/images/icons/discount.avif' %}" alt="image_not_found">
                                    </div>
                                    <h6 class="service_content_title">{% trans 'Həftəlik endirimlər' %}</h6>
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-lg-3">
                                <div class="service_inner_content d-flex justify-content-center align-items-center"
                                    data-aos="fade-up" data-aos-duration="2000">
                                    <div class="service_content_icon rounded-pill me-3">
                                        <img src="{% static 'assets/images/icons/discount2.jpeg' %}" alt="image_not_found">
                                    </div>
                                    <h6 class="service_content_title">{% trans '20%-ə qədər endirimlər' %}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- service section end -->

            <!-- product section-2 start -->
            <section class="product_section_2 sec_space_xms_60" data-aos="fade-up" data-aos-duration="2000">
                <div class="product_section_2_wrap">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="product_gallery" data-aos="fade-up" data-aos-duration="1000">
                                    <img src="{% static 'assets/images/sales/sale8.png' %}" alt="image_not_found">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="product_section_content" data-aos="fade-up" data-aos-duration="2000">
                                    <div class="product_sec_sub_title d-flex align-items-center pb-2">
                                        <i class="far fa-circle"></i>
                                        <i class="far fa-circle"></i>
                                        <i class="far fa-circle"></i>
                                        <span class="ps-1">{% trans 'Fermamızdan birbaşa təzə məhsullar' %}</span>
                                        <i class="far fa-circle"></i>
                                        <i class="far fa-circle"></i>
                                        <i class="far fa-circle"></i>
                                    </div>
                                    <div class="product_section_title py-2">
                                        <h2>{% trans 'Kənd təsərrüfatı məhsullarının topdan və pərakəndə satışı' %}</h2>
                                    </div>
                                    <div class="product_section_subtitle position-relative">
                                        <p class="pb-0">{% trans 'Yalnız insan sağlamlığına deyil, eyni zamanda ətraf mühitə də qarşı məsul bir şirkət kimi, davamlı kənd təsərrüfatı tətbiqlərini dəstəkləyir və kimyəvi maddə istifadəsini minimuma endiririk.' %}</p>
                                    </div>
                                    <div class="product_section_desc">
                                        <p>{% trans 'Müştərilərimizin razılığı bizim üçün əsaslıdır. Sifarişləriniz sürətli və etibarlı bir şəkildə çatdırılır, təzə və sağlam məhsullarla evinizə qədər gətirilir.' %}
                                        </p>
                                    </div>
                                    <div class="product_section_btn">
                                        <a href="{% url 'about' %}"><button type="button"
                                                class="btn custom_btn load_more_1 rounded-pill px-5 py-3 text-white">{% trans 'Kəşf et' %}
                                                <i class="fas fa-long-arrow-alt-right"></i></button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- product section-2 end -->

            <!-- trend section start -->
            <section class="trend_section position-relative sec_top_space_70" data-aos="fade-up"
                data-aos-duration="2000">
                <div class="trend_section_wrap position-relative overflow-hidden"
                    style="background-image: url({% static 'assets/images/trends/trend1.png' %})">
                    <div class="container">
                        <div class="trend_top_content">
                            <div class="trend_sub_title d-flex align-items-center justify-content-center">
                                <i class="far fa-circle"></i>
                                <i class="far fa-circle"></i>
                                <i class="far fa-circle"></i>
                                <span class="text-uppercase px-3">{% trans 'Fermamızdan birbaşa evinizə' %}</span>
                                <i class="far fa-circle"></i>
                                <i class="far fa-circle"></i>
                                <i class="far fa-circle"></i>
                            </div>
                            <div class="trend_top_title text-center pb-4">
                                <h2>{% trans 'Məhsullarımız' %}</h2>
                            </div>
                        </div>
                        <div class="row justify-content-center text-center">
                            {% for category in categories %}
                            <div class="col-sm-6 col-lg-4">
                                <div class="trend_inner_content position-relative" data-aos="fade-up"
                                    data-aos-duration="1500">
                                    <div class="trend_thumb">
                                        <img src="{{ category.image.url }}" alt="image_not_found">
                                    </div>
                                    <div style="background-color:#ffffffad;padding:5px;width:160px;" class="trend_inner_text position-absolute">
                                        <h4 class="text-black">{{ category.name }}</h4>
                                        <a href="{% url 'shop' %}?categories={{category.slug}}" class="text-black">{% trans 'Keçid et' %} <i
                                                class="fas fa-long-arrow-alt-right text-black"></i></a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="product_sec3_btn text-center mt-5">
                            <a href="{% url 'shop' %}"><button type="button"
                                    class="btn custom_btn rounded-pill px-3 text-white">{% trans 'İndi kəşf et' %} <i
                                        class="fas fa-long-arrow-alt-right"></i></button></a>
                        </div>
                    </div>
                </div>
                <!-- product section-3 start -->
            
                <section class="product_section3 sec_space_xs_70" data-aos="fade-up" data-aos-duration="2000">
                    <div class="product_section3_wrap inner_p_all_40 position-relative">
                        <div class="container">
                            <div
                                class="product_sec_content_wrap position-relative overflow-hidden shadow inner_p_all_100 bg-white">
                                <div class="team_top_content text-center">
                                    <div class="offer_sub_title d-flex align-items-center justify-content-center pb-2">
                                        <i class="far fa-circle"></i>
                                        <i class="far fa-circle"></i>
                                        <i class="far fa-circle"></i>
                                        <span class="text-uppercase px-3">{% trans 'Fermamızdan evinizə' %}</span>
                                        <i class="far fa-circle"></i>
                                        <i class="far fa-circle"></i>
                                        <i class="far fa-circle"></i>
                                    </div>
                                    <div class="product_top_title text-center py-1">
                                        <h2>{% trans 'Təmiz Organik məhsullar' %}</h2>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center">
                                        <ul class="product_tabnav_3 nav nav-pills mb-4 mt-3" id="pills-tab"
                                            role="tablist">
                                            {% for category in categories %}
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link  {% if forloop.first %} active first_btn {% endif %} {% if forloop.last%} last_btn {% endif%}  text-uppercase"
                                                    id="pills-{{category.slug}}-tab" data-bs-toggle="pill"
                                                    data-bs-target="#pills-{{ category.slug }}" type="button" role="tab"
                                                    aria-controls="pills-{{ category.slug }}" aria-selected="true">{{ category.name }}</button>
                                            </li>
                                            {% endfor %}
                                        
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-content" id="pills-tabContent">
                                    {% for category in categories %}
                                    <div class="tab-pane  fade {% if forloop.first %} show active {% endif %}" id="pills-{{ category.slug }}" role="tabpanel"
                                        aria-labelledby="pills-{{ category.slug }}-tab">
                                        <div class="row g-4">
                                            {% for product in category.products.all %}
                                            <div class="col-sm-6 col-lg-4">
                                                <div
                                                    class="product_ctg_content_3 d-flex justify-content-center align-items-center position-relative">
                                                    <div
                                                        class="prdc_ctg_product_img d-flex justify-content-center align-items-center me-3">
                                                        <img src="{{ product.get_main_image.url }}"
                                                            alt="image_not_found">
                                                    </div>
                                                    <div class="prdc_ctg_product_text">
                                                     
                                                        <div class="prdc_ctg_product_title my-2">
                                                            <a href="{% url 'shopSingle' product.slug %}">
                                                                <h5>{{ product.name }}</h5>
                                                            </a>
                                                        </div>
                                                        <div class="prdc_ctg_product_price mt-1 product_price">
                                                            <span class="sale_price pe-1">{{ product.get_discount_price }}</span>
                                                            <del>{{ product.price }}</del>
                                                        </div>
                                                        <ul class="product_action_btns ul_li_block d-flex">
                                                            <li><a data-bs-toggle="tooltip" title="Keçid et"
                                                                    data-bs-placement="top"
                                                                    href="{% url 'shopSingle' product.slug %}"><i class="fas fa-search"></i></a></li>
                                              
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                      
                                        </div>
                                    </div>
                                    {% endfor %}
                                
                                </div>
                                <div class="product_sec3_btn text-center mt-5">
                                    <a href="{% url 'shop' %}"><button type="button"
                                            class="btn custom_btn rounded-pill px-3 text-white">{% trans 'İndi kəşf et' %} <i
                                                class="fas fa-long-arrow-alt-right"></i></button></a>
                                </div>
                                <img class="product3_left_thumb position-absolute"
                                    src="{% static 'assets/images/shapes/shape17.png' %}" alt="image_not_found">
                                <img class="product3_right_thumb position-absolute"
                                    src="{% static 'assets/images/shapes/shape18.png' %}" alt="image_not_found">
                            </div>
                        </div>
                    </div>
                </section>
                <!-- product section-3 end -->
            </section>
            <!-- trend section end -->



            <!-- sale2 section start -->
            <section class="sale2_section" data-aos="fade-up" data-aos-duration="2000">
                <div class="sale2_section_wrap sec_space_xxlarge d-flex justify-content-center align-items-center"
                    style="background-image: url({% static 'assets/images/backgrounds/bg20.png' %})">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6"></div>
                            <div class="col-lg-6">
                                <div class="sale2_content_wrap ps-3">
                                    <div class="sale2_sub_title pb-3 position-relative">
                                        <img class="sub_title_bg" src="{% static 'assets/images/shapes/shape2.png' %}"
                                            alt="image_not_found">
                                        <h6 class="text-white text-uppercase position-absolute">{% trans 'Sağlam həyat yaşa' %}</h6>
                                    </div>
                                    <div class="sale2_title py-2">
                                        <h2>{% trans '100% orqanik' %} <br>  <font class="text-effect">
                                                <span>M</span><span>Ə</span><span>H</span><span>S</span><span>U</span><span>L</span><span>L</span><span>A</span><span>R</span>
                                             </font>
                                        </h2>
                                    </div>
                                    <div class="sale2_desc">
                                        <p>{% trans 'Müslimaqro şirkəti artıq illərdiki, restoranlara, otellərə və digər biznes modellərinə kənd təsərrüfatı məhsullarının çatdırılması xidmətini göstərir. İstər topdan, istərsə də pərakəndə satış göstərən şirkətimiz, məhsulların keyfiyyətinə 100% zəmanət verir.' %} </p>
                                    </div>
                                    <div class="sale2_btn load_more_3">
                                        <a href="#!"><button type="button"
                                                class="btn custom_btn rounded-pill px-5 py-3 text-white">{% trans 'Daha ətraflı '%} <i
                                                    class="fas fa-long-arrow-alt-right"></i></button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- sale2 section end -->

            <!-- product section start -->
            <section class="product_section home2_product_sec" data-aos="fade-up" data-aos-duration="2000">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="product_sec_content">
                                <div class="product_sec_sub_title d-flex align-items-center pb-2">
                               
                            
                                </div>
                                <h2 class="product_sec_title pb-3">{% trans 'Artıq Müslimargoda' %}</h2>
                            </div>
                        </div>
                        <div class="col-lg-6 text-center text-lg-end">
                            <a href="{% url 'shop' %}"><button type="button"
                                    class="btn custom_btn rounded-pill px-4 py-2  text-white">{% trans 'Daha çox' %}<i
                                        class="fas fa-long-arrow-alt-right"></i></button></a>
                        </div>
                    </div>

                    <div class="row g-4">
                        {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-xl-3">
                            <div class="product_layout_2 overflow-hidden position-relative">
                                <div class="product_layout_content bg-white position-relative">
                                    <div class="product_image_wrap">
                                        <a class="product_image d-flex justify-content-center align-items-center"
                                            href="{% url 'shopSingle' product.slug %}">
                                            {% for image in product.images.all %}
                                            <img class="pic-{{forloop.counter}}" src="{{ image.image.url }}" alt="image_not_found">
                                     
                                            {% endfor %}
                                        </a>
                                        <ul class="product_badge_group ul_li_block">
                                            <li><span
                                                    class="product_badge badge_meats position-absolute rounded-pill text-uppercase">{{ product.category.name }}</span>
                                            </li>
                                            <li><span
                                                    class="product_badge badge_discount position-absolute rounded-pill">{{ product.discount_percent }}%</span>
                                            </li>
                                        </ul>
                                        <ul class="product_action_btns ul_li_block d-flex">
                                            <li><a class="tooltips" data-placement="top" title="Keçid et"
                                                    href="{% url 'shopSingle' product.slug %}"><i class="fas fa-search"></i></a></li>
                                          
                                        </ul>
                                    </div>
                                    
                                    <div class="product_content">
                                        <h3 class="product_title">
                                            <a href="{% url 'shopSingle' product.slug %}">{{ product.name }}</a>
                                        </h3>
                                        <div class="product_price">
                                            <span class="sale_price pe-1">{{ product.get_discount_price }}</span>
                                            <del>{{ product.price }}</del>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    
                    </div>
                </div>
            </section>
            <!-- product section end -->

            <!-- blog section start -->
            {% if blogs %}
            <section style="padding-bottom:20px;" class="blog_section sec_space_xs_70 position-relative" data-aos="fade-up"
                data-aos-duration="2000">
                <div class="blog_section_wrap">
                    <div class="container-fluid-full ">
                        <div class="quality_top_content text-center">
                            <div class="quality_sub_title d-flex justify-content-center align-items-center pb-2">
                                <i class="far fa-circle"></i>
                                <i class="far fa-circle"></i>
                                <i class="far fa-circle"></i>
                            
                                <i class="far fa-circle"></i>
                                <i class="far fa-circle"></i>
                                <i class="far fa-circle"></i>
                            </div>
                            <div class="blog_top_title pb-5">
                                <h2>{% trans 'Bloqlar' %}</h2>
                            </div>
                        </div>
                        <div class="row p-0">
                            {% for blog in blogs %}
                            <div class="col-md-6 col-xl-3 p-0">
                                <a class="d-block" href="{% url 'blogSingle' blog.slug %}">
                                    <div class="blog_content_thumb"
                                        style="background-image: url({{blog.image.url}});" data-aos="fade-right" data-aos-duration="1000">
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6 col-xl-3 p-0">
                                <div
                                    class="blog_content_text d-flex flex-column justify-content-center align-items-center text-center" data-aos="fade-right"
                                    data-aos-duration="1500">
                                    <div class="blog_subtitle text-uppercase d-inline-block">
                                        <h6 class="text-white">{{ blog.category }}</h6>
                                    </div>
                                    <div class="blog_title pt-3">
                                        <a href="{% url 'blogSingle' blog.slug %}">
                                            <h2>{{ blog.title }}</h2>
                                        </a>
                                    </div>
                                    <div class="blog_icon">
                                        <img src="{% static 'assets/images/shapes/shape20.png' %}" alt="image_not_found">
                                    </div>
                                    <div class="blog_author_cnt d-flex justify-content-center align-items-center">
                                        <span><i class="far fa-calendar-alt"></i> {{ blog.created_at }} </span>
       
                                    </div>
                                    <div class="blog_desc py-3">
                                        <p>{{ blog.content|slice:150 }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        
                        </div>
                  
                    </div>
                </div>
            </section>
            {% endif %}
            <!-- blog section end -->


            <!-- instagram section start -->
            {% comment %} <section class="instagram_section instagram_style_1 instagram_2 position-relative sec_space_xs_70"
                data-aos="fade-up" data-aos-duration="1000">
                <div class="container">
                    <div class="product_sec_sub_title d-flex justify-content-center align-items-center pb-2">
                        <i class="far fa-circle"></i>
                        <i class="far fa-circle"></i>
                        <i class="far fa-circle"></i>
                        <span class="px-2 text-uppercase">Sağlam həyatı</span>
                        <i class="far fa-circle"></i>
                        <i class="far fa-circle"></i>
                        <i class="far fa-circle"></i>
                    </div>
                    <h2 class="instagram_title pb-5 text-center">Instagramda izlə</h2>
                    <ul class="zoom-gallery instagram_image_content ul_li slideshow4_slider"
                        data-slick='{"dots": false}'>
                        <li>
                            <a class="popup_image" href="{% static 'assets/images/instagram/instagram1.png' %}">
                                <img src="{% static 'assets/images/instagram/instagram1.png' %}" alt="image_not_found">
                                <i class="fab fa-instagram"></i>
                                <span>@_Instagram</span>
                            </a>
                        </li>
                        <li>
                            <a class="popup_image" href="{% static 'assets/images/instagram/instagram4.png' %}">
                                <img src="{% static 'assets/images/instagram/instagram4.png' %}" alt="image_not_found">
                                <i class="fab fa-instagram"></i>
                                <span>@_Instagram</span>
                            </a>
                        </li>
                        <li>
                            <a class="popup_image" href="{% static 'assets/images/instagram/instagram3.png' %}">
                                <img src="{% static 'assets/images/instagram/instagram3.png' %}" alt="image_not_found">
                                <i class="fab fa-instagram"></i>
                                <span>@_Instagram</span>
                            </a>
                        </li>
                        <li>
                            <a class="popup_image" href="{% static 'assets/images/instagram/instagram4.png' %}">
                                <img src="{% static 'assets/images/instagram/instagram4.png' %}" alt="image_not_found">
                                <i class="fab fa-instagram"></i>
                                <span>@_Instagram</span>
                            </a>
                        </li>
                        <li>
                            <a class="popup_image" href="{% static 'assets/images/instagram/instagram5.png' %}">
                                <img src="{% static 'assets/images/instagram/instagram5.png' %}" alt="image_not_found">
                                <i class="fab fa-instagram"></i>
                                <span>@_Instagram</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </section> {% endcomment %}
            <!-- instagram section end -->

            <!-- brand section start -->
            <section class="brand_section sec_space_xs_70" data-aos="fade-up" data-aos-duration="2000">
                <div class="container">
                    <div class="brand_thumb text-center">
                        <img src="{% static 'assets/images/brands/brand1.png' %}" alt="image_not_found">
                    </div>
                </div>
            </section>

            <!-- brand section end -->

        </main>
        <!-- main body end -->

        <!-- footer section start -->
      {% include 'footer.html' %}
        <!-- footer section end -->

        <!-- quick-view start -->

    
        <!-- quick-view end -->

    </div>
    <!-- body wrap end -->

    <!-- Include jquery js -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>

    <!-- Include bootstrap-bundle js -->
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Include aos js -->
    <script src="{% static 'assets/js/aos.js' %}"></script>

    <!-- Include jquery-magnific-popup js -->
    <script src="{% static 'assets/js/magnific-popup.min.js' %}"></script>

    <!-- Include nice-select js -->
    <script src="{% static 'assets/js/nice-select.min.js' %}"></script>

    <!-- Include jquery-countdown js -->
    <script src="{% static 'assets/js/countdown.min.js' %}"></script>

    <!-- Include slick js -->
    <script src="{% static 'assets/js/slick.min.js' %}"></script>

    <!-- Include custom js -->
    <script src="{% static 'assets/js/custom.js' %}"></script>

</body>

<script>
	function updateLanguageBasedOnCookie() {
		var langCookie = document.cookie.replace(/(?:(?:^|.*;\s*)django_language\s*=\s*([^;]*).*$)|^.*$/, "$1");
		if (langCookie) {
			var urlParts = window.location.href.split('/');
			urlParts.splice(3, 1, langCookie); 
			var newURL = urlParts.join('/');
			if (window.location.href !== newURL) {
				document.cookie = "django_language=" + langCookie + "; path=/";
				window.location.href = newURL
			}
		}
	}
	
	// Sayfa yüklendiğinde çalıştır
	window.onload = function() {
		updateLanguageBasedOnCookie();
	};
	
</script>
</html>