<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Müslimagro - Kənd təsərrüfatı məhsullarının topdan və pərakəndə satışı</title>

   <meta name="description" content="Müslimagro - Kənd təsərrüfatı məhsullarının tam orqanik olaraq süfrənizə qədər çatdırılması və sizin razılığınız üçün xidmət göstərir. İstənilən meyvə, tərəvəz və bostan məhsullarının satışı">
   <!-- favicon -->
   <link rel="shortcut icon" href="{% static 'assets/logogo.png' %}" type="image/x-icon">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <!-- Include fontawesome cdn -->
   <link rel="stylesheet" href="../../../../cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css' %}"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />

   <!-- Include google fonts -->
   <link rel="preconnect" href="https://fonts.googleapis.com/">
   <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
   <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&amp;family=Roboto:wght@400;500;700;900&amp;display=swap"
      rel="stylesheet">

   <!-- Include bootstrap CSS -->
   <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

   <!-- Include aos CSS -->
   <link rel="stylesheet" href="{% static 'assets/css/aos.css' %}">

   <!-- Include magnific-popup CSS -->
   <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">

   <!-- Include nice-select CSS -->
   <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">

   <!-- Include slick CSS -->
   <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.css' %}">

   <!-- Include slick-theme CSS -->
   <link rel="stylesheet" href="{% static 'assets/css/slick-theme.css' %}">

   <!-- Include slick CSS -->
   <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">

   <!-- Include stylesheet CSS -->
   <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

</head>

<body>
   <!-- body wrap start -->
   <div class="body-wrap overflow-hidden">
      <!-- back-to-top start -->
      <div class="backtotop">
         <a href="#!" class="scroll">
            <i class="far fa-arrow-up fw-bold"></i>
         </a>
      </div>
      <!-- back-to-top end -->


      {% include 'header.html' %}
      <!-- main body start -->
      <main>

      

         <!-- Breadcrumb section start -->
         <section class="breadcrumb_sec_1 position-relative">
            <div class="breadcrumb_wrap sec_space_mid_small"
               style="background-image: url({% static 'assets/images/breadcrumb/breadcrumb1.png' %});">
               <div class="breadcrumb_cont text-center">
                  <div class="breadcrumb_title">
                     <h2 class="text-white">Məhsullar</h2>
                  </div>
                
               </div>
            </div>
         </section>
         <!-- Breadcrumb section end -->

         <!-- shop list sidebar start -->
         <section class="shop_list_sidebar sec_space_large">
            <div class="shop_sidebar_wrap">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-3">
                        <div class="shop_sidebar_searchbar position-relative">
                           <form method='get' action="{% url 'shop' %}" id="searchForm">
                              <input class="rounded-pill" type="search" name="search" id="searchInput" placeholder="{% trans 'Axtar' %}">
                              <i class="fas fa-search position-absolute" id="searchIcon"></i>
                          </form>
                        </div>
                        <script>
                           document.addEventListener('DOMContentLoaded', function() {
                              const searchInput = document.getElementById('searchInput');
                              const searchIcon = document.getElementById('searchIcon');
                              const searchForm = document.getElementById('searchForm');
                          
                              searchIcon.addEventListener('click', function() {
                                  searchForm.submit();
                              });
                          
                              searchInput.addEventListener('keypress', function(event) {
                                  if (event.key === 'Enter') {
                                      searchForm.submit();
                                  }
                              });
                          });
                        </script>
                        <!-- blog category start -->
                        <div class="blog_category" data-aos="fade-up" data-aos-duration="2000">
                           <div class="blog_category_wrap">
                              <h3 class="blog_category_title py-3">{% trans 'Kateqoriyalar' %}</h3>
                              <div class="blog_category_item">
                                 <div class="row">
                                    <div class="form-check">
                                       
                                       {% for category in categories %}
                                          <form method="get" action="{% url 'shop' %}">
                                        
                                             <div class="col">
                                          <input {% if request.GET.categories and category.slug == request.GET.categories %} checked {% endif %} class="form-check-input" type="checkbox" value="{{category.slug}}" onchange="this.form.submit()" name="categories" id="category_{{ category.id }}">
                                          <label class="form-check-label ms-2" for="flexCheckDefault1">
                                             {{ category.name }}
                                          </label>
                                                   </div>
                                       
                                       </form>
                                       {% endfor %}
                              
                                   
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- blog category end -->

                

                        <!-- trending section start -->
                        <section class="trending_sec mt-3" data-aos="fade-up" data-aos-duration="2000">
                           <div class="trending_sec_wrap">
                              <h3 class="trending_title mb-3">{% trans 'Ən çox satılan' %}</h3>
                              {% for product in products %}
                              <div class="trending_item d-flex align-items-center">
                                 <div style="cursor:pointer" onclick="goUrl('{% url "shopSingle" product.slug %}')" class="trending_thumb d-flex justify-content-center align-items-center">
                                    <img style="max-height:60px;" src="{{ product.get_main_image.url }}" alt="image_not_found">
                                 </div>
                                 <div class="trending_text">
                                    <span style="cursor:pointer" onclick="goUrl('{% url "shopSingle" product.slug %}')">{{product.name}}</span>
                                    <div class="trending_price">
                                       {% if product.price > 0 %}
                                       <del>{{ product.price }}</del>
                                       {% endif %}
                                       {% if product.get_discount_price > 0 %}
                                       <p>{{ product.get_discount_price }}</p>
                                       {% endif %}
                                    </div>
                                  
                                 </div>
                              </div>
                              {% endfor %}
                           </div>
                        </section>
                        <!-- trending section end -->
                     </div>
                     <div class="col-lg-9">
                        <!-- shop list section start -->
                        <section class="shop_list_sec" data-aos="fade-up" data-aos-duration="2000">
                           <div class="shop_list_wrap">
                              <div class="container">
                                 <div class="filter_area d-flex justify-content-between align-items-center mb_30">
                                    <ul class="nav layout_tab_nav ul_li" role="tablist">
                                       <li>
                                          <button class="active" data-bs-toggle="tab" data-bs-target="#grid_layout"
                                             type="button" role="tab" aria-selected="true">
                                             <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17"
                                                viewBox="0 0 12 12">
                                                <path id="grid" class="cls-1"
                                                   d="M1784,905h2v2h-2v-2Zm5,0h2v2h-2v-2Zm5,0h2v2h-2v-2Zm-10,5h2v2h-2v-2Zm5,0h2v2h-2v-2Zm5,0h2v2h-2v-2Zm-10,5h2v2h-2v-2Zm5,0h2v2h-2v-2Zm5,0h2v2h-2v-2Z"
                                                   transform="translate(-1784 -905)" />
                                             </svg>
                                          </button>
                                       </li>
                                    
                                       <span class="show_result">{% if products.paginator.count > 0 %}
                                          {{ products.paginator.count }} məhsuldan  {{ products.start_index }}–{{ products.end_index }} 
                                      {% else %}
                                      {% trans 'Məhsul yoxdur' %}
                                      {% endif %}</span>
                                    </ul>
                                    <form action="#">
                                       <div class="sorting_from d-flex align-items-center">
                                          <span class="sorting_from_title">{% trans 'Sıralama' %}</span>
                                          <div class=" clearfix">
                                             <form method="get" action="{% url 'home' %}">
                                             <select onchange="this.form.submit()" name="ordering">
                                                <option data-display="">{% trans 'Varsayılan' %}</option>
                                                <option {% if request.GET.ordering == "price" %}selected{% endif %} value="price">{% trans 'Qiymət azdan çoxa' %}</option>
                                             </select>
                                          </form>
                                          </div>
                                       </div>
                                    </form>
                                 </div>
                                 <div class="shop_product_list">
                                    <div class="tab-content" id="pills-tabContent">
                                       <div class="tab-pane fade show active" id="grid_layout" role="tabpanel"
                                          aria-labelledby="pills-grid_layout-tab">
                                          <div class="row g-4">
                                             {% for product in products %}
                                             <div class="col-sm-6 col-lg-4">
                                                <div class="product_layout_1 overflow-hidden position-relative">
                                                   <div class="product_layout_content bg-white position-relative">
                                                      <div class="product_image_wrap">
                                                         <a class="product_image d-flex justify-content-center align-items-center"
                                                            href="{% url 'shopSingle' product.slug %}" target="_blank">
                                                            <img class="pic-1" src="{{ product.get_main_image.url }}"
                                                               alt="image_not_found">
                                                               <img class="pic-2" src="{{  product.get_secondary_image.url }}"
                                                               alt="image_not_found">
                                                         </a>
                                                         <ul class="product_badge_group ul_li_block">
                                                            <li><span
                                                                  class="product_badge badge_meats position-absolute rounded-pill text-uppercase">{{ product.category.name }}</span>
                                                            </li>
                                                            {% if product.new %} <li><span
                                                                  class="product_badge badge_discount position-absolute rounded-pill"> Yeni  </span>
                                                            </li>{% endif %}
                                                         </ul>
                                                         <ul class="product_action_btns ul_li_block d-flex">
                                                            <li><a class="tooltips" data-placement="top"
                                                                  title="Search Product" href="{% url 'shopSingle' product.slug %}"><i
                                                                     class="fas fa-search"></i></a>
                                                            </li>
                                                            
                                                         </ul>
                                                      </div>
                                                     
                                                      <div class="product_content">
                                                         <h3 class="product_title">
                                                            <a href="{% url 'shopSingle' product.slug %}" target="_blank">{{ product.name }}</a>
                                                         </h3>
                                                         <div class="product_price">
                                                            {% if product.get_discount_price > 0 %}
                                                            <span class="sale_price pe-1">{{ product.get_discount_price }}</span>
                                                            {% endif %}
                                                            {% if product.price > 0 %}
                                                            <del>{{ product.price }}</del>
                                                            {% endif %}
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                             {% endfor %}
                                          </div>
                                       </div>
                            
                                    </div>
                                 </div>
                             
                                <ul class="pagination_nav mt-5 list-unstyled d-flex justify-content-center text-uppercase clearfix">
                                    <li {% if not products.has_previous %} style="cursor:not-allowed;" {% endif %}><a {% if products.has_previous %} href="?page={{ products.previous_page_number }}" {% endif %}><i class="fas fa-arrow-left"></i></a>
                                    {% for page in total_pages %}
                                    <li><a href="?page={{ page }}" =
                                       >{{ page }}</a></li>
                                    {% endfor %}
            
                                    <li {% if not products.has_next %} style="cursor:not-allowed;" {% endif %} ><a {% if products.has_next %} href="?page={{ products.next_page_number }}" {% endif %}><i class="fas fa-arrow-right"></i></a>
                                    </li>
                              </ul>
                              </div>
                           </div>
                        </section>
                        <!-- shop list section end -->
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- shop list sidebar end -->



      </main>
      <!-- main body end -->

      <!-- footer section start -->
      {% include 'footer.html' %}
      <!-- footer section end -->

  

      <!-- view recently products end -->

      <!-- quick-view start -->

    
      <!-- quick-view end -->

   </div>
   <!-- body wrap end -->
<script>
  function goUrl(arg){
   
   window.location.href = arg
  }
</script>
   <!-- Include jquery js -->
   <script src="{% static 'assets/js/jquery.min.js' %}"></script>

   <!-- Include bootstrap-bundle js -->
   <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

   <!-- Include aos js -->
   <script src="{% static 'assets/js/jquery-ui.js' %}"></script>

   <!-- Include aos js -->
   <script src="{% static 'assets/js/aos.js' %}"></script>

   <!-- Include jquery-magnific-popup js -->
   <script src="{% static 'assets/js/magnific-popup.min.js' %}"></script>

   <!-- Include nice-select js -->
   <script src="{% static 'assets/js/nice-select.min.js' %}"></script>

   <!-- Include jquery-countdown js -->
   <script src="{% static 'assets/js/countdown.min.js' %}"></script>

   <!-- Include slick js -->
   <script src="{% static 'assets/js/slick.min.js' %}"></script>

   <!-- Include custom js -->
   <script src="{% static 'assets/js/custom.js' %}"></script>

</body>
</html>